@(disciplinas: List[Disciplina], dicas: List[Dica]) @mainTop(title="Home") {

<!DOCTYPE html>

<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body ng-app="">
            	<!-- ---------------- MENU ---------------- -->
            	<div class="uk-width-medium-1-4">
            		<div class="uk-panel uk-panel-box">
            			<div class="uk-panel-header">
            				<h3 class="uk-panel-title">Menu</h3>
            			</div>
						<ul class="uk-nav uk-nav-side">
							<li class="uk-divider"></li>
							@for(disciplina <- disciplinas){
           						<li class="uk-nav-header"><a href="/disciplina/@disciplina.getId()">@disciplina.getNome()</a></li>
            					@for(tema <- disciplina.getTemas()){
           							<li class="uk-parent"><a href="/tema/@tema.getId()">@tema.getNome()</a></li>
								}
								<li class="uk-divider"></li>
							}
            			</ul>
            		</div>
            	</div>
            	<!-- ---------------- MAIN CONTENT ---------------- -->
            	<div class="uk-width-medium-3-4">
            		<div class="uk-panel uk-panel-box">
            			<div class="uk-article">
	            				<h1>Bem-vindo(a) ao Portal do Leite!</h1>
            				<div>
	            			</div>
            				<hr class="uk-article-divider-orange">
            			</div>
            			<p>Escolha uma disciplina ou tema ao lado para acessar os leites.</p>
            		</div>
            		<ul class="uk-nav uk-nav-side">
					<li class="uk-divider"></li>
             		<div class="uk-panel uk-panel-box">
             			<div class="uk-article">
		                <hr>
                        <h2>Algumas dicas:</h2>
                        <p>Organizar por:</p>
						<form class="uk-form left" method="GET" action="@routes.Application.getOrdenacao()"> 
	                    	<span></span>                        
   							<select name="ordenar"> 
   								<option value="ultimas">Últimas dicas</option>
                       			<option value="concordancia">Dicas com mais concordância</option>
                       			<option value="discordancia">Dicas com mais discordância</option>
   							</select>
   							<button class="uk-button uk-button-primary uk-button-large uk-align-right">Ordenar</button>
						</form>
		                </div>
		            </div>
             				<li class="uk-divider"></li>
             				<li class="uk-divider"></li>
					
            			</ul>
            			
            			<ul class="uk-nav uk-nav-side">
							<li class="uk-divider"></li>
							@if(dicas.isEmpty()) {
                            	<p>Ainda não há dicas.</p>
                        	}
							@for(dica <- dicas){
							<hr class="uk-article-divider">
	            			<div class="uk-panel uk-panel-box dica" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
                            	<h3>Disciplina:
            					@for(disciplina <- disciplinas){
	            					@if(dica.getTema() == disciplina.getTemaByNome(dica.getTema().getNome())){
            							<li class="uk-nav-header">@disciplina.getNome()</li>
            						}            					
            						}</h3>
            						<hr class="uk-article-divider-orange">
            					
                                	<p>Tema:<a style="color:#a8ff00;" href="tema/@dica.getTema.getId()"> @dica.getTema.getNome()</a></p> 
                                    
                                    @if(dica.getTipo().equals("DicaDisciplina")) {
                                        <p>Disciplinas importantes:</p> <p class="normal-font">@dica.getTexto()</p>
                                    }
                                    @if(dica.getTipo().equals("DicaMaterial")) {
                                        <p>Link para material útil:</p> <a href="@dica.getTexto()">@dica.getTexto()</a> <br><br>
                                    }
                                    @if(dica.getTipo().equals("DicaConselho")) {
                                        <p>Conselho:</p> <p class="normal-font">@dica.getTexto()</p>
                                    }
                                    @if(dica.getTipo().equals("DicaAssunto")) {
                                        <p>Assuntos importantes:</p> <p class="normal-font">@dica.getTexto()</p>
                                    }
                                    <a href="#@dica.getId()" data-uk-modal>Ver mais detalhes</a>
                            
                                <hr class="uk-article-divider-orange">
                                <p class="uk-article-meta uk-text-right">por @dica.getUser()</p>
                            </div>
                            <div id="@dica.getId()" class="uk-modal">
    						    <div class="uk-modal-dialog">
    						    	<div class="uk-modal-header-primary">
    						    		<h2>Tema:<a style="color:#a8ff00;" href="tema/@dica.getTema.getId()"> @dica.getTema.getNome()</a></h2> 
    						    	</div>    						    
    						    	<div class="uk-modal-footer-primary">
    						    		<h4>Concordâncias <i class="uk-icon-hover uk-icon-thumbs-o-up" style="color:#a8ff00;"></i>: @dica.getConcordancias()</h4>
    						    		<h4>Discordâncias <i class="uk-icon-hover uk-icon-thumbs-o-down" style="color:#cc0000;"></i>: @dica.getDiscordancias()</h4>
    						    		<h4>Avaliação da dica <i class="uk-icon-hover uk-icon-star-o" style="color:#ffcc00;"></i>: @dica.getIndiceConcordancia()</h4>
    						    	</div>    						    	
    						    </div>    								
							</div>	
							}
            			</ul>
            	</div>
            </div>
        </div>
    </body>
</html>
}
